setuptools==66.0.0
wheel==0.38.4
opencv-python==4.5.4.60
ray[rllib]==1.12.1
pygame==2.1.2
pyhocon==0.3.60
rospkg==1.4.0
importlib-metadata==4.13.0

# Можно без него, но пока есть
open3d==0.17.0

# flask==2.2.5

# Пока нужен, потом будет tensorflow
torch==1.13.1

protobuf==3.20